<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book cataloq - login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" >
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body th:style="'background: url('+@{../books.jpg}+') no-repeat center;'">
<div id="background">
    <div id="content-box">
        <h1>Login</h1>
        <p class="error">An error has occured. Try to log in:</p>
        <div id="form-box">
            <form id="login-form" method="post" th:action="@{/log-in}">
                <input type="text" id="username" name="username" autofocus="autofocus" placeholder="Username">
                <input type="password" id="password" name="password" placeholder="Password">
                <button type="submit">Log in</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
